<div class="content" role="main">
  <h1>Yielding other iterables</h1>

  <div class="card card--headed">
    <div class="header">Yield what you like!</div>
    <ul>
      <li>Generators can yield other iterables</li>
      <li>...even other generators</li>
    </ul>

    <app-console>
      <pre>const letters = [ 'a', 'b', 'c' ];</pre>
      <pre>

      </pre>
      <pre>function *numbers() {{ '{' }}</pre>
      <pre>  yield 1;</pre>
      <pre>  yield 2;</pre>
      <pre>  yield 3;</pre>
      <pre>}</pre>
      <pre>

      </pre>
      <pre>function *alphaNumericGenerator() {{ '{' }}</pre>
      <pre>  yield* letters;</pre>
      <pre>  yield* numbers();</pre>
      <pre>}</pre>
      <pre>

      </pre>
      <pre>const numbersAndLetters = alphaNumericGenerator();</pre>
      <pre>

      </pre>

      <pre>[ ...numbersAndLetters ]</pre>
      <pre class="comment">// [ 'a', 'b', 'c', 1, 2, 3 ]</pre>
    </app-console>
  </div>
</div>
