<div class="content" role="main">
  <h1>Generators as observers</h1>

  <div class="card card--headed">
    <div class="header">Passing values to the generator</div>
    <ul>
      <li>Generators can be bi-directional</li>
      <li>You can pass values to <code>next()</code></li>
      <li>Asymmetric behaviour - <code>next()</code> sends its value to the currently suspended <code>yield</code></li>
      <li>As such, any value supplied to the first <code>next()</code> call is ignored, as there's no active yield to receive it</li>
    </ul>

    <app-console>
      <pre>function* observer() {{ '{' }}</pre>
      <pre [class.active]="step === 1 || step === 3">  let input = yield 0; <span class="comment" *ngIf="step === 3">// 'b' assigned to first yield / input variable</span></pre>
      <pre [class.active]="step === 4">  yield input || 1; <span class="comment" *ngIf="step === 4">// input variable returned as second yield value</span></pre>
      <pre [class.active]="step === 6">  yield 2; <span class="comment" *ngIf="step === 6">// value passed to next() is ignored</span></pre>
      <pre>}</pre>
      <pre>

      </pre>
      <pre>const generator = observer();</pre>
      <pre>

      </pre>

      <pre [class.active]="step === 0">generator.next('a');</pre>
      <pre [class.active]="step === 2">generator.next('b');</pre>
      <pre [class.active]="step === 5">generator.next('c');</pre>
      <pre [class.active]="step === 7">generator.next();</pre>
    </app-console>

    <app-console>
      <pre>Yielded value:</pre>
      <pre><span class="comment" *ngIf="![ 1, 4, 6, 8 ].includes(step)"> </span></pre>
      <pre><span class="comment" *ngIf="step === 1">{{ '{' }} value: 0, done: false }</span></pre>
      <pre><span class="comment" *ngIf="step === 4">{{ '{' }} value: 'b', done: false } returned from second yield</span></pre>
      <pre><span class="comment" *ngIf="step === 6">{{ '{' }} value: '2', done: false }</span></pre>
      <pre><span class="comment" *ngIf="step === 8">{{ '{' }} value: undefined, done: true }</span></pre>
    </app-console>

    <nav class="console-nav">
      <div class="card card--prev card--mini" (click)="updateStep(-1)">Prev</div>
      <div class="card card--mini">Step {{ step + 1 }}</div>
      <div class="card card--next card--mini" (click)="updateStep(1)">Next</div>
    </nav>
  </div>
</div>
