<div class="content" role="main">
  <h1>Yielding values</h1>

  <div class="card card--headed">
    <div class="header">A basic example</div>
    <ul>
      <li>Calling <code>next()</code> yields the next value within the generator</li>
    </ul>

    <app-console>
      <pre>function *numbersGenerator() {{ '{' }}</pre>
      <pre [class.active]="step === 1">  yield 3;</pre>
      <pre [class.active]="step === 3">  yield 2;</pre>
      <pre [class.active]="step === 5">  yield 1;</pre>
      <pre>}</pre>

      <pre>

      </pre>
      <pre>const countdown = numbersGenerator();</pre>
      <pre>

      </pre>

      <pre [class.active]="step === 0">countdown.next();</pre>
      <pre [class.active]="step === 2">countdown.next();</pre>
      <pre [class.active]="step === 4">countdown.next();</pre>
      <pre [class.active]="step === 6">countdown.next();</pre>
    </app-console>

    <app-console>
      <pre>Yielded value:</pre>
      <pre><span class="comment" *ngIf="[ 0, 2, 4, 6 ].includes(step)"> </span></pre>
      <pre><span class="comment" *ngIf="step === 1">// {{ '{' }} value: 3, done: false }</span></pre>
      <pre><span class="comment" *ngIf="step === 3">// {{ '{' }} value: 2, done: false }</span></pre>
      <pre><span class="comment" *ngIf="step === 5">// {{ '{' }} value: 1, done: false }</span></pre>
      <pre><span class="comment" *ngIf="step === 7">// {{ '{' }} value: undefined, done: true }</span></pre>
    </app-console>

    <nav class="console-nav">
      <div class="card card--prev card--mini" (click)="updateStep(-1)">Prev</div>
      <div class="card card--mini">Step {{ step + 1 }}</div>
      <div class="card card--next card--mini" (click)="updateStep(1)">Next</div>
    </nav>
  </div>
</div>
